
@{
    ViewBag.Title = "Treatment Session Follow Up";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .spinnermodal {
        background-color: #FFFFFF;
        height: 100%;
        left: 0;
        opacity: 0.5;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100000;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Treatment Session Follow Up</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group" id="divFromDate">
                                        <label for="txtFromDate">From Date</label>
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divToDate">
                                        <label for="txtToDate">To Date</label>
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divDocNum">
                                        <label for="txtDocNum">Doc Num</label>
                                        @*<input type="text" placeholder="Search Doc Num" id="txtDocNumSearch" name="UserName" class="form-control" autocomplete="off" onchange="RemoveDocNum()" />*@
                                        <input type="text" id="txtDocNum" class="form-control" placeholder="Search Doc Num" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divCustomerName">
                                        <label for="txtCustomerName">Customer Name</label>
                                        @*<input type="text" placeholder="Search Customer Name" id="txtCustomerNameSearch" name="UserName" class="form-control" autocomplete="off" onchange="RemoveCardCode()" />*@
                                        <input type="text" id="txtCustomerName" class="form-control" placeholder="Search Customer Name" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divMobileSearch">
                                        <label for="txtMobileSearch">Customer Mobile</label>
                                        @*<input type="text" placeholder="Search Customer Mobile" id="txtCustomerMobileSearch" name="UserName" class="form-control" autocomplete="off" />*@
                                        <input type="text" id="txtCustomerMobile" class="form-control" placeholder="Search Customer Mobile" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divActivityDate">
                                        <label for="txtActivityDate">Follow Up Date</label>
                                        <input type="text" id="txtFollowUpDate" class="form-control datepicker" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divSearchItemName">
                                        <label for="txtCustomerName">Treatment Name</label>
                                        <input type="text" placeholder="Search Item Name" id="txtSearchItemName" class="form-control" autocomplete="off" />
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" id="divFollowUpBy">
                                        <label for="ddlFollowUpBy">Follow Up By</label>
                                        <select class="form-control select2" style="width: 100%" id="ddlFollowUpBy"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <button style="margin-right: 27px;margin-top:12px" class="btn btn-primary" onclick="ShowTreatmentFollowUp()">Search</button>
                                </div>

                                <div class="form-group row mt-1" id="divActivityType" style="display:none">
                                    <label for="ddlActivityType" class="col-md-4 control-label">Activity Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlActivityType" onchange="LoadActivity()"></select>
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divActivity" style="display:none">
                                    <label for="ddlActivity" class="col-md-4 control-label">Activity</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlActivity" ></select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @*<div class="row">*@
                    <div class="card-body">
                        <div class="row table-responsive">
                            <table class="table table-bordered table-striped table-hover" id="iEcoCourierInfo">
                                <thead>
                                    <tr style="background-color: aliceblue">
                                        @*<th style="text-align:center">Action</th>*@
                                        <th style="text-align:center">#</th>
                                        <th style="text-align:center"><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input chackall" id="chk_All" onchange="SelectAllCheckboxFunc()" />Check All</th>
                                        <th style="text-align:center">Customer</th>
                                        <th style="text-align:center">Mobile</th>
                                        <th style="text-align:center">Treatment</th>
                                        <th style="text-align:center">So No</th>
                                        <th style="text-align:center">Order Date</th>
                                        <th style="text-align:center">Treatment Date</th>
                                        <th style="text-align:center">Booked Session</th>
                                        <th style="text-align:center">Session Taken</th>
                                        <th style="text-align:center">Pending Session</th>
                                        <th style="text-align:center">Session No Today</th>
                                        <th style="text-align:center">Follow Up By</th>
                                        <th style="text-align:center">Remarks</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyid">
                                    @{ int count = 1;}
                                    @foreach (var item in Model)
                                    {
                                    <tr id="@count">
                                        @*<td id="action_@count">                                                @Html.ActionLink("Invoice", "AddSalesInvoice", "SalesInvoice", new { siId = item.SODocEntry }, new { @class = "btn btn-sm btn-warning hide_" + @count })</td>*@
                                        <td>@count</td>
                                        <td><input type="checkbox" class="icheck-primary d-inline ml-2 form-control-input checkid" id="chk_@count" value="@count" onclick="Checkp(@count)" /></td>
                                        <td>@item.CardName</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.SAPDocNum</td>
                                        <td>@item.SODate</td>
                                        <td>@item.TreatmentDate</td>
                                        <td>
                                            @item.TotalSession
                                            <input type="text" style="display: none" id="totalSession_@count" value="@item.TotalSession" />
                                                                            </td>
                                        <td>
                                            <input type="text" id="sessionTake_@count" value="@item.SessionTake" style="width: 100px" disabled="disabled"/>
                                        </td>
                                        <td><span id="pendingSession_@count"></span></td>
                                        <td>@item.SessionNum</td>
                                        <td id="tdfollowupby_@count">
                                            <select class="form-control select2" id="followupby_@count" style="width: 130px"></select>
                                        </td>
                                        <td>
                                            <input type="text" id="remarks_@count" value="@item.Remarks" />
                                        </td>
                                        <td style="display:none">
                                            <input type="text" style="display: none" id="docEntry_@count" value="@item.DocEntry" />
                                            <input type="text" style="display: none" id="lineNum_@count" value="@item.LineNum" />
                                            <input type="text" style="display: none" id="objType_@count" value="@item.ObjType" />
                                            <input type="text" style="display: none" id="followupId_@count" value="@item.FollowupId" />
                                            <input type="text" style="display: none" id="activityId_@count" value="@item.ActivityId" />
                                            <input type="text" style="display: none" id="cardCode_@count" value="@item.CardCode" />
                                        </td>
                                    </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    @*</div>*@
                    @*//footer*@
                    <div class="card-footer">
                        <button class="btn btn-warning" id="btnTreatmentFollowUp" onclick="SaveTreatmentFollowUp()">Add & New</button>
                        <button class="btn btn-warning  float-right" onclick="location.reload()">Clear</button>
                    </div>
                    @*//footer*@
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
    <div class="spinnermodal" id="testSpan" style="display: none; z-index: 10001">
        <div style="position: fixed; z-index: 10001; top: 50%; left: 50%; height:50px">
            <img src="~/AssetStatic/img/loading_spinner.gif" />
        </div>
    </div>
</section>

@section Scripts{
    <script type="text/javascript">

        var followUpList = {};

        $(document).ready(function () {
            /*  $("#action").hide();*/
            LoadDate_C('#txtFollowUpDate');
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');
            LoadActivityType('ddlActivityType');
            LoadActivity('ddlActivity');
            $("#txtCustomerMobileSearch").autocomplete({
            source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteBusinessPartner", "SalesOrderNew")';
                var mobile = '';
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.Mobile + " | " + item.CardCode + " | " + item.CardName;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                 mobile = ret[0];
                var cardCode = ret[1];
                var cardName = ret[2];

                $("#txtCustomerMobile").val(cardCode);


            },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtCustomerMobileSearch").val(mobile);
                }
            });
            $("#txtCustomerNameSearch").autocomplete({
            source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteCustomerName", "SalesOrderNew")';
                var cardName = '';
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.Mobile + " | " + item.CardCode + " | " + item.CardName;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var mobile = ret[0];
                var cardCode = ret[1];
                cardName = ret[2];

                $("#txtCustomerName").val(cardCode);
            },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtCustomerNameSearch").val(cardName);
                }
            });
            $("#txtDocNumSearch").autocomplete({
                source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteSalesOrder", "SalesOrderNew")';
                    var sAPDocNum = '';
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.SAPDocNum + " | " + item.DocNum;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                sAPDocNum = ret[0];
                var docNum = ret[1];


        /*        $("#txtNameSearch").val(sAPDocNum);*/
                $("#txtDocNum").val(docNum);
            },
                minLength: 2
                , close: function (event, ui) {
                    debugger;
                    $("#txtDocNumSearch").val(sAPDocNum);
                }
            });
            $("#txtSearchItemName").autocomplete({
                source: function (request, response) {
                    debugger;
                    var _url = '';
                  /*  var type = $("#ddlItemType").val();*/
                    var type = "S";
                    if (type == "I") {
                        _url = '@Url.Action("AutoCompleteItemName", "SalesOrderNew")';
                    }
                    if (type == "S") {
                        _url = '@Url.Action("AutoCompleteServiceName", "SalesOrderNew")';
                    }
                    var itemName = '';

                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.ItemCode + " | " + item.ItemName;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var itemCode = ret[0];
                itemName = ret[1];
                },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtSearchItemName").val(itemName);
                }
            });

            GetFollowUpBy();
            LoadFollowUpBy('ddlFollowUpBy');
            AddFollowUpBy();
        });//End of the Document Ready
        function LoadActivityType(elementId) {
            var urlpath = '@Url.Action("GetActivityTypeforMemu", "ServiceGain")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { ActivityType: "F" },
                async: false,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    //$('#' + elementId + '').append("<option value=''>--Select Activity Type--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].Code).html(data[i].Description));
                    }
                }
            });
        }
        function LoadActivity(elementId) {
            var activityType = $('#ddlActivityType').val();
            var urlpath = '@Url.Action("GetActivityMaster", "ServiceGain")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { ActivityType: activityType },
                async: false,
                success: function(data) {
                    //activityList = data;
                    $('#' + elementId + '').empty();
                    //$('#' + elementId + '').append("<option value=''>--Select Activity--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].ActivityCode).html(data[i].ActivityName));
                    }
                }
            });
        }
        function RemoveDocNum() {
            var DocNumSearch = $("#txtDocNumSearch").val();
            if (DocNumSearch == '' || DocNumSearch == null) {
                $("#txtDocNum").val('');
            }

        }
        function RemoveCardCode() {
            var CardCodeSearch = $("#txtCustomerNameSearch").val();
            if (CardCodeSearch == '' || CardCodeSearch == null) {
                $("#txtCustomerName").val('');
            }

        }
        function AddFollowUpBy() {

            $('#iEcoCourierInfo tbody tr').each(function (key, value) {
                soId = $(this).prop("id");
                LoadFollowUpByInRow("followupby_" + soId);
                $('#followupby_' + soId).select2();
                var followupId = $('#followupId_' + soId).val();
                if (followupId != '' && followupId != null) {
                    $("#followupby_" + soId).val(followupId).trigger('change');
                }

                var activityId = $('#activityId_' + soId).val();
                if (activityId > 0) {
                    $("#chk_" + soId).prop('disabled', true);
                }

                var totalSession = isNaN(parseFloat($('#totalSession_' + soId).val())) ? 0 : parseFloat($('#totalSession_' + soId).val());
                var sessionTake = isNaN(parseFloat($('#sessionTake_' + soId).val())) ? 0 : parseFloat($('#sessionTake_' + soId).val());

                var pendingSession = totalSession - sessionTake;
            $('#pendingSession_' + soId).text(pendingSession);

            });

        }
        function GetFollowUpBy() {
            var urlpath = '@Url.Action("GetFollowUpBy", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function(data) {
                    followUpList = data;
                }
            });
        }
        function LoadFollowUpBy(elementId) {
            var urlpath = '@Url.Action("GetFollowUpBy", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {},
                async: false,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Follow Up By--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].empID).html(data[i].firstName + " " + data[i].middleName + " " + data[i].lastName));
                    }
                }
            });
        }
        function LoadFollowUpByInRow(elementId) {
            var array = [];
            var rowCount = $('#iEcoCourierInfo tbody tr').length;
            for (let count = 0; count < rowCount; count++) {
                array.push(parseInt($("#followupby_" + count).val()));
            };
            $('#' + elementId + '').append("<option value=''>--Follow Up By--</option>");

            for (var i = 0; i < followUpList.length; i++) {
                if (jQuery.inArray(followUpList[i].Value, array) == -1) {
                    $('#' + elementId + '').append($("<option></option>").val(followUpList[i].empID).html(followUpList[i].firstName + " " + followUpList[i].middleName + " " + followUpList[i].lastName));
                }
            }
        }
        function SaveTreatmentFollowUp() {
            if (SaveValidation() == true) {
                swal({
                    title: "Are you sure?",
                    text: "",
                    type: "success",
                    showCancelButton: true,
                    cancelButtonClass: 'btn-secondary waves-effect',
                    confirmButtonClass: 'btn-success waves-effect waves-light',
                    confirmButtonText: 'Yes!',
                    closeOnConfirm: false

                }, function () {
                    $('.confirm').prop("disabled", true);
                    $('.cancel').prop("disabled", true);
                    SaveTreatmentFollowUpFinal();
                });
            }
        }
        function SaveTreatmentFollowUpFinal() {
            debugger;
            var jsonData = {};
            var activityDate = $('#txtFollowUpDate').val();
            jsonData["ActivityDate"] = DateConversionToYYYYMMDD(activityDate);  //"20230814"

            var activityType = $('#ddlActivityType').val();
            var activity = $('#ddlActivity').val();
            //var activityType = 10;
            //var activity = 34;

            var jsonObjs = [];
            $('#iEcoCourierInfo tbody tr').each(function() {
                var theObj = {};
                var id = $(this).attr('id');

                if ($('#chk_' + id).is(":checked")) {
                    var sessionTake = $('#sessionTake_' + id).val();
                    var followupby = $('#followupby_' + id).val();
                    var comments = $('#remarks_' + id).val();

                    var docEntry = $('#docEntry_' + id).val();
                    var lineNum = $('#lineNum_' + id).val();
                    var objType = $('#objType_' + id).val();
                    var cardCode = $('#cardCode_' + id).val();




                    theObj["AssignedEmployeeId"] = followupby;
                    theObj["ActivityType"] = activityType;
                    theObj["Activity"] = activity;
                    theObj["Comments"] = comments;
                    theObj["CardCode"] = cardCode;
                    theObj["SoEntry"] = docEntry;
                    theObj["LineId"] = lineNum;
                    theObj["ObjType"] = objType;
                    theObj["HowManySession"] = sessionTake;
                    jsonObjs.push(theObj);
                }
            });
            debugger;
            jsonData["Activity"] = jsonObjs

            var urlpath2 = '@Url.Action("SaveTreatmentFollow", "SalesOrderNew")';
            $.ajax({
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                dataType: 'json',
                url: urlpath2,
                type: "POST",
                /* async: false,*/
                beforeSend: function () {
                    $('#testSpan').show();
                    $('#btnTreatmentFollowUp').prop('disabled', true);
                },
                success: function (result) {
                    $('#testSpan').hide();
                    if (result.UnAutorized == 0 && result.dataList.ReturnCode != null ) {
                        if (result.dataList.ReturnCode == "-99999") {
                            window.location.href = '@Url.Action("Logout", "Home")';
                        }
                    }
                    if (result.UnAutorized == 1) {
                        window.location.href = '@Url.Action("Logout", "Home")';
                    } else {
                        var message = result.dataList.ReturnMsg;
                        if (result.dataList.ReturnCode == "0000") {
                        swal({
                            title: " Saved Successfully",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: true
                        }, function () {
                            window.location.href =  '@Url.Action("TreatmentFollowUp", "SalesOrderNew")';
                        });


                      } else {
                            ShowMessage(message);
                            $('#btnTreatmentFollowUp').prop('disabled', false);
                      }

                    }

                }
            })
        }
        function SaveValidation() {
            var isValid = true;
            var message = "Some Values Required";

            if ($('#txtFollowUpDate').val() == '' || $('#txtFollowUpDate').val() == null) {
                ValidationColorChangeNew("txtFollowUpDate", "divActivityDate", "Follow Up Date Required", false);
                isValid = false;
            }

            var checked = $('#tbodyid input:checked').length > 0;
            if (!checked) {
                isValid = false;
                 message = "Check at least one checkbox";
            }

            $('#iEcoCourierInfo tbody tr').each(function () {
                debugger;
                var id = $(this).attr('id');
                if ($('#chk_' + id).is(":checked")) {
                    debugger;
                    var followupby = $('#followupby_' + id).val()
                    var remarks = $('#remarks_' + id).val();

                    if (followupby === '' || followupby === null) {
                        message = "Please Select FollowUpby";
                        ValidationColorChangeNew('followupby_' + id, 'tdfollowupby_' + id, "Please Select FollowUpby", false);
                        isValid = false;
                    }
                  
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;


        }

        function SaveEcommerceCourierInformation() {
            if (Validation()) {
            var jsonObjs = [];
                $('#iEcoCourierInfo tbody tr').each(function(key, value) {
                soId = $(this).prop("id");
                    var theObjs = {};
                if ($('#chk_' + soId).is(":checked")) {
                  
                    theObjs["DocEntry"] = $('#docEntry_' + soId).val();
                    theObjs["TrackingID"] = $('#trackingID_' + soId).val();
                    theObjs["StatusCode"] = $('#deliveryStatus_' + soId).val();
                    theObjs["DelChannel"] = $('#deliveryChannel_' + soId).val();
                    theObjs["DelAgent"] = $('#deliveryAgent_' + soId).val();
                    var confirmDate = $('#confirmDate_' + soId).val();
                    theObjs["ConfDate"] = DateConversionToYYYYMMDD(confirmDate);
                    theObjs["Remarks"] = $('#remarks1_' + soId).val();
                    jsonObjs.push(theObjs);
                }
                });

               var things = JSON.stringify({ 'things': jsonObjs });

            var urlpath = '@Url.Action("SaveTreatmentFollow", "SalesOrderNew")';
            $.ajax({
                contentType: "application/json; charset=utf-8",
                data: things,
                dataType: 'json',
                url: urlpath,
                type: "POST",
                beforeSend: function () {
                    $('#testSpan').show();
                },
                success: function (result) {
                    $('#testSpan').hide();
                    var message = result.ReturnMsg;
                    if (result.ReturnCode == "0000") {
                        swal({
                            title: " Saved Successfull",
                            text: '',
                            type: "success",
                            showCancelButton: false,
                            cancelButtonClass: 'btn-secondary waves-effect',
                            confirmButtonClass: 'btn-success waves-effect waves-light',
                            confirmButtonText: 'Yes!',
                            closeOnConfirm: false
                        }, function () {
                             window.location.href =  '@Url.Action("EcommerceCourierInfoUpdate", "InventoryTransfer")';
                        });
                    } else {
                        ShowMessage(message);
                    }
                },
                error: function() {
                    swal("Network error occured.Please reload the page and try again");
                }
            });

            }
        }
        function pad2(number) {
            return (number < 10 ? '0' : '') + number;
        }
        function DateConversionToYYYYMMDD(inputDate) {
            // Split the input date into day, month, and year parts
            var parts = inputDate.split('-');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthIndex = monthNames.indexOf(month);
            monthIndex++; // Adjust for 0-based indexing
            // Create a Date object with the parsed values
            var dateObject = new Date(year, monthIndex - 1, day);
            // Format the date as "YYYYMMDD"
            var formattedDate = dateObject.getFullYear() + pad2(dateObject.getMonth() + 1) + pad2(dateObject.getDate());
            return formattedDate
        }
        function DateConversionToDateMonthYear(inputDate) {
            var parts = inputDate.split('/');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthName = monthNames[parseInt(month) - 1];
            var formattedDate = day + '-' + monthName + '-' + year;
            return formattedDate
        }
        function Validation() {
            var isValid = true;
            var message = "Check at least one checkbox";
            var checked = $('#tbodyid input:checked').length > 0;
            if (!checked) {
                isValid = false;
                ShowMessage(message);
            }
            $('#iEcoCourierInfo tbody tr').each(function (key, value) {
                soId = $(this).prop("id");
                if ($('#chk_' + soId).is(":checked")) {
                    debugger;
                    var deliveryStatus = $('#deliveryStatus_' + soId).text().trim();
                    if (deliveryStatus == '' || deliveryStatus == null) {
                        ValidationColorChangeNew('deliveryStatus_' + soId, 'deliveryStatus_' + soId, "Delivery Status Required", false);
                        isValid = false;
                    }

                    var trackingID = $('#trackingID_' + soId).val();
                    if (trackingID == '' || trackingID == null) {
                        ValidationColorChangeNew('trackingID' + soId, 'trackingID' + soId, "Tracking No Required", false);
                        isValid = false;
                    }
                }
            });
            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }
        function SelectAllCheckboxFunc() {
            if ($("#chk_All").is(":checked")) {
                $(".checkid").prop("checked", true);
            } else {
                $(".checkid").prop("checked", false);
            }
        }
        function Checkp(SLNO) {
            debugger;
            //uncheck "select all", if one of the listed checkbox item is unchecked
            var checkp = $("#chk_" + SLNO).prop("checked");
            if (checkp == false) { //if this item is unchecked
                $("#chk_All").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkid:checked').length == $('.checkid').length) {
                $("#chk_All").prop('checked', true);
            }
        }
        function ShowTreatmentFollowUp() {
            debugger;
            var fromdate;
            var todate;
            fromdate = $('#txtFromDate').val();
            todate = $('#txtToDate').val();


            var SalesNo = $("#txtDocNum").val();

            var CustomerName = $("#txtCustomerName").val();

            var CustomerMobile = $("#txtCustomerMobile").val();


            var TreatmentName = $("#txtSearchItemName").val();

            var FollowUpBy = $('#ddlFollowUpBy').val();


            var urlpath = '@Url.Action("TreatmentFollowUpList_Search", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                dataType: 'html',
                type: "Get",
                data: { fromdate: fromdate, todate: todate, SalesNo: SalesNo, CustomerName: CustomerName, CustomerMobile: CustomerMobile, TreatmentName: TreatmentName, FollowUpBy: FollowUpBy},
            /*    async: false,*/
                beforeSend: function () {
                    debugger;
                    $('#testSpan').show();
                },
                success: function (data) {
                    $('#testSpan').hide();
                    data = JSON.parse(data);
                    if (data.UnAutorized == 0 && data.dataList.length == 1 ) {
                        if (data.dataList[0].ReturnCode == "-99999") {
                            window.location.href = '@Url.Action("Logout", "Home")';
                        }
                    }
                    if (data.UnAutorized == 1) {
                        //Web Project Session TimeOut
                        window.location.href = '@Url.Action("Logout", "Home")';
                    } else {
                            var row = "";
                            $("#tbodyid").html("");
                            var count = 1;
                            $.each(data.dataList, function (index, item) {
                                debugger;
                                row += "<tr id='" + count + "'>";
                                row += "<td style='text-align:center'>" + count + "</td>";
                                row += "<td style='text-align:center'><input type='checkbox' class='icheck-primary d-inline ml-2 form-control-input checkid' id='chk_" + count + "' value='" + count + "' onclick='Checkp(" + count + ")'/></td>";
                                row += "<td style='text-align:center'>" + item.CardName + "</td>";
                                row += "<td style='text-align:center'>" + item.Mobile + "</td>";
                                row += "<td style='text-align:center'>" + item.ItemName + "</td>";
                                row += "<td style='text-align:center'>" + item.SAPDocNum + "</td>";
                                row += "<td style='text-align:center'>" + item.SODate + "</td>";
                                row += "<td style='text-align:center'>" + item.TreatmentDate + "</td>";
                                row += "<td style='text-align:center'>" + item.TotalSession + "</td>";
                                row += "<td style='text-align:center'><input type='text' id='sessionTake_" + count + "' value='" + item.SessionTake + "' style='width: 100px' disabled='disabled'/></td>";
                                row += "<td style='text-align:center'><span id='pendingSession_" + count + "'></span></td>";
                                row += "<td style='text-align:center'>" + item.SessionNum + "</td>";

                                row += "<td style='text-align:center' id='tdfollowupby_" + count + "'><select class='form-control select2' id='followupby_" + count + "' style='width: 130px'></select></td>";

                                row += "<td style='text-align:center'><input type='text' id='remarks_" + count + "' value='" + item.Remarks + "' /></td>";

                                row += "<td style='text-align:center;display: none'>                                   <input type='text' style='display: none' id='docEntry_" + count + "' value='" + item.DocEntry + "' /><input type='text' style='display: none' id='lineNum_" + count + "' value='" + item.LineNum + "' /><input type='text' style='display: none' id='objType_" + count + "' value='" + item.ObjType + "' /><input type='text' style='display: none' id='followupId_" + count + "' value='" + item.FollowupId + "' /><input type='text' style='display: none' id='cardCode_" + count + "' value='" + item.CardCode + "' /><input type='text' style='display: none' id='activityId_" + count + "' value='" + item.ActivityId + "' /><input type='text' style='display: none' id='totalSession_" + count + "' value='" + item.TotalSession + "' /></td>";

                                row += "</tr>";
                                count = count + 1;

                            });
                            $("#tbodyid").html(row);
                    }


                },
                complete: function () {
                    AddFollowUpBy();
                }
            });


        }
    </script>
}