
@{
    ViewBag.Title = "Sales Invoice Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-header {
        background-color: darkgray !important; /* Blue color #007bff  #808080*/
        color: black; /* Text color for contrast */
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header custom-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <h3 class="card-title">
                                        <span class="">Sales Invoice Details</span>
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row" id="divFromDate">
                                    <label for="txtFromDate" class="col-md-4 control-label">From Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divBranch">
                                    <label for="ddlBranch" class="col-md-4 control-label">Branch</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%; text-align: center" id="ddlBranch" disabled="disabled"></select>
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divReportType">
                                    <label for="ddlGroupCode" class="col-md-4 control-label">Report Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlReportType">
                                            <option value="2" selected>PDF</option>
                                            <option value="1">Crystal Report</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row" id="divToDate">
                                    <label for="txtToDate" class="col-md-4 control-label">To Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                                @*<div class="form-group row mt-2" id="divItemCode">
            <label for="ddlItemCode" class="col-md-4 control-label">Item Code</label>
            <div class="col-md-6">
                <select class="form-control select2" style="width: 100%;" id="ddlItemCode"></select>
            </div>
        </div>*@
                                <div class="form-group row mt-1">
                                    <label for="txtCustomerName" class="col-md-4 control-label">Item Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Search Item Name" id="txtSearchItemName" class="form-control" autocomplete="off" onkeyup="AutoCompleteItemCheck()" />
                                        <input type="hidden" id="ddlItemCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<div class="form-group row mt-2" id="divCustomer">
            <label for="ddlCustomer" class="col-md-4 control-label">Customer Code</label>
            <div class="col-md-6">
                <select class="form-control select2" style="width: 100%;" id="ddlCustomer"></select>
                <input type="hidden" id="txtCustomerCode" />
            </div>
        </div>*@
                                <div class="form-group row" id="divCustomer" style="display:none">
                                    <label for="ddlCustomer" class="col-md-4 control-label">Code</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Search Customer Code" id="txtCustomerCodeSearch" name="UserName" class="form-control" autocomplete="off" />
                                        <input type="hidden" id="txtCustomerCode" name="txtCustomerCode" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divCustomerName">
                                    <label for="txtCustomerName" class="col-md-4 control-label">Customer Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Search Customer Name" id="txtCustomerNameSearch" name="UserName" class="form-control" autocomplete="off" onkeyup="AutoCompleteCheck()" />
                                        <input type="hidden" id="txtCustomerName" name="txtCustomerName" />
                                    </div>
                                </div>
                                <div class="form-group row mt-1" id="divMobileNo" style="display:none">
                                    <label for="txtMobileNo" class="col-md-4 control-label">Mobile No</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Search Mobile No" id="txtNameSearch" name="UserName" class="form-control" autocomplete="off" />
                                        <input type="hidden" id="ddlCustomer" name="ddlCustomer" />
                                    </div>
                                </div>

                                <div class="form-group row mt-2" id="divItemType">
                                    <label for="ddlItemType" class="col-md-4 control-label">Item Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlItemType">
                                            <option value="" selected>Select Item Type</option>
                                            <option value="2">Product</option>
                                            <option value="1">Service</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="button" value="Print" class="btn btn-primary" onclick="PrintCustomerInvoiceSummary()" />
                                <input type="button" value="Cancel" class="btn btn-primary" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input id="branch" type="number" style="display: none;" value="@ViewBag.Branch">
    </div>
</section>
@section Scripts
{
    <script>
        var itemList = {};
        var itemUPIList = {};
        var workActivitiesList = {};
        var workStatusList = {};
        var signatureList = {};
        var DeleteItem = [];
        var selectedHearAboutUs = [];
        var selectedReasonBranchVisit = [];
        var srcount = 0;
        $(document).ready(function () {
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');

            LoadGroupCode('ddlGroupCode');
            LoadBusinessPartner('ddlCustomer');
            LoadBranch('ddlBranch');
            LoadItemCode("ddlItemCode");
            var branch = $('#branch').val();
            $("#ddlBranch").val(branch).trigger('change');
            $("#txtNameSearch").autocomplete({
            source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteBusinessPartner", "SalesOrderNew")';
                    var mobile = '';
                    var cardCode = '';
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                        } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.Mobile + " | " + item.CardCode + " | " + item.CardName;
                                }));
                            }
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                 mobile = ret[0];
                 cardCode = ret[1];
                var cardName = ret[2];

                $("#ddlCustomer").val(cardCode);
                $("#txtCustomerCodeSearch").val(cardCode);
                $("#txtCustomerCode").val(cardCode);
                $("#txtCustomerNameSearch").val(cardName);
                $("#txtCustomerName").val(cardName);

            },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtNameSearch").val(mobile);
                }
            });
            $("#txtCustomerNameSearch").autocomplete({
            source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteCustomerName", "SalesOrderNew")';
                    var cardName = '';
                    var cardCode = '';
                  /*  $('#txtCustomerCode').val("");*/
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                        } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.Mobile + " | " + item.CardCode + " | " + item.CardName;
                                }));
                            }
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var mobile = ret[0];
                 cardCode = ret[1];
                cardName = ret[2];

                $("#txtNameSearch").val(mobile);
                $("#ddlCustomer").val(cardCode);

                $("#txtCustomerCode").val(cardCode);
                $("#txtCustomerCodeSearch").val(cardCode);


                $("#txtCustomerName").val(cardName);
            },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtCustomerNameSearch").val(cardName);
                }
            });
            $("#txtCustomerCodeSearch").autocomplete({
            source: function (request, response) {

                var _url = '@Url.Action("AutoCompleteCustomerCode", "SalesOrderNew")';
                    var cardCode = '';
                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                        } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.Mobile + " | " + item.CardCode + " | " + item.CardName;
                                }));
                            }
                        }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var mobile = ret[0];
                cardCode = ret[1];
                var cardName = ret[2];


                $("#txtNameSearch").val(mobile);
                $("#ddlCustomer").val(cardCode);

                $("#txtCustomerCode").val(cardCode);

                $("#txtCustomerName").val(cardName);
                $("#txtCustomerNameSearch").val(cardName);
            },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                    $("#txtCustomerCodeSearch").val(cardCode);
                }
            });
            $("#txtSearchItemName").autocomplete({
                source: function (request, response) {
                    debugger;
                    var _url = '';

                        _url = '@Url.Action("AutoCompleteItemName", "SalesOrderNew")';

                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.ItemCode + " | " + item.ItemName;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var itemCode = ret[0];
                var itemName = ret[1];
                $("#ddlItemCode").val(itemCode);
                },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                 /*   $("#txtSearchItemName").val("");*/
                }
            });
        });

        function AutoCompleteCheck() {
            debugger;
            var CustomerName = $('#txtCustomerNameSearch').val();
            if (CustomerName != "") {
                CustomerName = $('#txtCustomerNameSearch').val().trim();
            }
            if (CustomerName == "") {
                $('#txtCustomerCode').val("");

            }

        }

        function AutoCompleteItemCheck() {
            debugger;
            var ItemName = $('#txtSearchItemName').val();
            if (ItemName != "") {
                ItemName = $('#txtSearchItemName').val().trim();
            }
            if (ItemName == "") {
                $('#ddlItemCode').val("");
            }
        }

        function LoadGroupCode(elementId) {
            var urlpath = '@Url.Action("GetGroup", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Group Code--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].GroupCode).html(data[i].GroupName));
                    }
                }
            });
        }
        function LoadBusinessPartner(elementId) {
            var CardType = "C";
            var urlpath = '@Url.Action("GetBusinessPartner", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { CardType: CardType },
                /*    data: {  },*/
                async: false,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Business Partner--</option>");
                    for (var i = 0; i < data.length; i++) {
                        //$('#' + elementId + '').append($("<option></option>").val(data[i].CardCode).html(data[i].CardCode + " | " + data[i].CardName + " | " + data[i].Mobile));
                        //$('#' + elementId + '').append($("<option></option>").val(data[i].CardCode).html(data[i].CardName));
                        $('#' + elementId + '').append($("<option></option>").val(data[i].CardCode).html(data[i].CardName + " | " + data[i].Mobile));
                    }
                }
            });
        }
        function LoadItemCode(elementId) {
            var urlpath = '@Url.Action("GetItem", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Item Code--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemCode).html(data[i].ItemCode));
                    }
                }
            });
        }
        function GetBusinessPartnerInfo(CardCode) {
            var urlpath = '@Url.Action("GetBusinessPartnerByCardCode", "CrystalReport")';
            $.ajax({
                url: urlpath,
                dataType: 'json',
                type: "Get",
                data: { CardCode: CardCode },
                async: false,
                success: function (data) {
                    $('#txtCustomerCode').val(data.CardCode);
                }
            });
        }
        function LoadBranch(elementId) {
            var urlpath = '@Url.Action("GetBranch", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value='0'>--Select Branch--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].PrcCode).html(data[i].PrcName));
                    }
                }
            });
        }





        function pad2(number) {
            return (number < 10 ? '0' : '') + number;
        }
        function DateConversionToYYYYMMDD(inputDate) {
            // Split the input date into day, month, and year parts
            var parts = inputDate.split('-');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthIndex = monthNames.indexOf(month);
            monthIndex++; // Adjust for 0-based indexing
            // Create a Date object with the parsed values
            var dateObject = new Date(year, monthIndex - 1, day);
            // Format the date as "YYYYMMDD"
            var formattedDate = dateObject.getFullYear() + pad2(dateObject.getMonth() + 1) + pad2(dateObject.getDate());
            return formattedDate
        }
        function DateConversionToDateMonthYear(inputDate) {
            var parts = inputDate.split('/');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthName = monthNames[parseInt(month) - 1];
            var formattedDate = day + '-' + monthName + '-' + year;
            return formattedDate
        }
        function PrintValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtFromDate').val() == '' || $('#txtFromDate').val() == null) {
                ValidationColorChangeNew("txtFromDate", "divFromDate", "From Date Required", false);
                isValid = false;
            }
            if ($('#txtToDate').val() == '' || $('#txtToDate').val() == null) {
                ValidationColorChangeNew("txtToDate", "divToDate", "To Date Required", false);
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }
        function PrintCustomerInvoiceSummary() {
            if (PrintValidation() == true) {
                debugger;
                var FromDate = $('#txtFromDate').val();
                FromDate = DateConversionToYYYYMMDD(FromDate);
                var ToDate = $('#txtToDate').val();
                ToDate = DateConversionToYYYYMMDD(ToDate);
                var Branch = $('#branch').val();
                var CustomerCode = $('#txtCustomerCode').val() ?? "";
                if (CustomerCode != "") {
                    CustomerCode = $('#txtCustomerCode').val().trim();
                }
                var ItemCode = $('#ddlItemCode').val();
                var ItemType = $('#ddlItemType').val();
                var ReportType = $('#ddlReportType').val();
               /* printPage(FromDate, ToDate, Branch, CustomerCode, ReportType);*/
                GetprintPage(FromDate, ToDate, Branch, CustomerCode, ReportType,ItemCode,ItemType);
            }
        }
        function printPage(FromDate, ToDate, Branch, CustomerCode,ReportType,ItemCode,ItemType) {
            var dynamicURL = 'http://172.16.1.41:8001/web/webform1.aspx?id1=7&id2=FROMDATE|TODATE|BRANCH|CUSTOMERCODE|BIOXIN|ITEMCODE|ITEMTYPE&id3=TYPE'.replace('FROMDATE', FromDate).replace('TODATE', ToDate).replace('BRANCH', Branch).replace('CUSTOMERCODE', CustomerCode).replace('TYPE', ReportType).replace('ITEMCODE', ItemCode).replace('ITEMTYPE', ItemType);
            window.open(dynamicURL, '_blank');
        }
        function GetprintPage(FromDate, ToDate, Branch, CustomerCode, ReportType, ItemCode, ItemType) {
            var urlpath = '@Url.Action("GetprintPage", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {  },
                async: false,
                success: function (data) {
                    var dynamicURL = data.RPTPort + 'web/webform1.aspx?id1=7&id2=FROMDATE|TODATE|BRANCH|CUSTOMERCODE|BIOXIN|ITEMCODE|ITEMTYPE&id3=RPTTYPE&uid=USERID'.replace('FROMDATE', FromDate).replace('TODATE', ToDate).replace('BRANCH', Branch).replace('CUSTOMERCODE', CustomerCode).replace('RPTTYPE', ReportType).replace('BIOXIN', data.Database).replace('ITEMCODE', ItemCode).replace('ITEMTYPE', ItemType).replace('USERID', data.UserId);
                    window.open(dynamicURL, '_blank');
                }
                //,
                //complete: function (data) {

                //}
            });
        }
    </script>
}

