@{
    ViewBag.Title = "Stock Balance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom-header {
        background-color: darkgray !important; /* Blue color #007bff  #808080*/
        color: black; /* Text color for contrast */
    }
</style>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-primary">
                    <div class="card-header custom-header">
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#">
                                    <h3 class="card-title">
                                        <span class="">Stock Balance</span>
                                    </h3>
                                </a>
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group row" id="divFromDate">
                                    <label for="txtFromDate" class="col-md-4 control-label">From Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtFromDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divItemGroup">
                                    <label for="ddlItemGroup" class="col-md-4 control-label">Item Group</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlItemGroup"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group row" id="divToDate">
                                    <label for="txtToDate" class="col-md-4 control-label">To Date</label>
                                    <div class="col-md-6">
                                        <input type="text" id="txtToDate" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divWarehouse">
                                    <label for="ddlWarehouse" class="col-md-4 control-label">Warehouse</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%; text-align: center" id="ddlWarehouse"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                @*<div class="form-group row" id="divItemCode">
            <label for="ddlItemCode" class="col-md-4 control-label">Item Code</label>
            <div class="col-md-6">
                <select class="form-control select2" style="width: 100%;" id="ddlItemCode"></select>
            </div>
        </div>*@
                                <div class="form-group row mt-1">
                                    <label for="txtCustomerName" class="col-md-4 control-label">Item Name</label>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Search Item Name" id="txtSearchItemName" class="form-control" autocomplete="off" onkeyup="AutoCompleteCheck()"/>
                                        <input type="hidden" id="ddlItemCode"/>
                                    </div>
                                </div>
                                <div class="form-group row mt-2" id="divReportType">
                                    <label for="ddlReportType" class="col-md-4 control-label">Report Type</label>
                                    <div class="col-md-6">
                                        <select class="form-control select2" style="width: 100%;" id="ddlReportType">
                                            <option value="2" selected>PDF</option>
                                            <option value="1">Crystal Report</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            &nbsp;
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <input type="button" value="Print" class="btn btn-primary" onclick="PrintStockBalance()" />
                                <input type="button" value="Cancel" class="btn btn-primary" />
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input id="branch" type="number" style="display: none;" value="@ViewBag.Branch">
    </div>
</section>
@section Scripts
{
    <script>
        var itemList = {};
        var itemUPIList = {};
        var workActivitiesList = {};
        var workStatusList = {};
        var signatureList = {};
        var DeleteItem = [];
        var selectedHearAboutUs = [];
        var selectedReasonBranchVisit = [];
        var srcount = 0;
        $(document).ready(function () {
            LoadDate_C('#txtFromDate');
            LoadDate_C('#txtToDate');
            LoadItemCode("ddlItemCode");
            LoadItemGroup("ddlItemGroup");
            LoadWarehouse("ddlWarehouse");
            $("#txtSearchItemName").autocomplete({
                source: function (request, response) {
                    debugger;
                    var _url = '';

                        _url = '@Url.Action("AutoCompleteItemName", "SalesOrderNew")';

                $.ajax({
                    url: _url,
                    data: "{ 'prefix': '" + request.term + "'}",
                    dataType: "json",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                           if (data.UnAutorized == 1) {
                            window.location.href = '@Url.Action("Logout", "Home")';
                           } else {
                            if (data.dataList[0].ReturnCode == "-99999") {
                                window.location.href = '@Url.Action("Logout", "Home")';
                            } else {
                                response($.map(data.dataList, function (item) {
                                    return item.ItemCode + " | " + item.ItemName;
                                }));
                            }
                          }
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            select: function (event, ui) {
                debugger;
                var str = ui.item.value;
                var ret2 = str.replace(" | ", '|');
                var ret = ret2.split('|');
                var itemCode = ret[0];
                var itemName = ret[1];
                $("#ddlItemCode").val(itemCode);
                },
                minLength: 3
                , close: function (event, ui) {
                    debugger;
                 /*   $("#txtSearchItemName").val("");*/
                }
            });
        });
        function AutoCompleteCheck() {
            debugger;
            var ItemName = $('#txtSearchItemName').val();
            if (ItemName != "") {
                ItemName = $('#txtSearchItemName').val().trim();
            }
            if (ItemName == "") {
                $('#ddlItemCode').val("");
            }
        }
        function LoadItemCode(elementId) {
            var urlpath = '@Url.Action("GetItem", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Item Code--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemCode).html(data[i].ItemCode));
                    }
                }
            });
        }
        function LoadItemGroup(elementId) {
            var urlpath = '@Url.Action("GetItemGroup", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: { },
                async: false,
                success: function (data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Item Group--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].ItemGroupCode).html(data[i].ItemGroupName));
                    }
                }
            });
        }
        function LoadWarehouse(elementId) {
            var urlpath = '@Url.Action("GetWarehouse", "CrystalReport")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {  },
                async: false,
                success: function(data) {
                    $('#' + elementId + '').empty();
                    $('#' + elementId + '').append("<option value=''>--Select Warehouse--</option>");
                    for (var i = 0; i < data.length; i++) {
                        $('#' + elementId + '').append($("<option></option>").val(data[i].WhsCode).html(data[i].WhsName));
                    }
                }
            });
        }
        function pad2(number) {
            return (number < 10 ? '0' : '') + number;
        }
        function DateConversionToYYYYMMDD(inputDate) {
            // Split the input date into day, month, and year parts
            var parts = inputDate.split('-');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthIndex = monthNames.indexOf(month);
            monthIndex++; // Adjust for 0-based indexing
            // Create a Date object with the parsed values
            var dateObject = new Date(year, monthIndex - 1, day);
            // Format the date as "YYYYMMDD"
            var formattedDate = dateObject.getFullYear() + pad2(dateObject.getMonth() + 1) + pad2(dateObject.getDate());
            return formattedDate
        }
        function DateConversionToDateMonthYear(inputDate) {
            var parts = inputDate.split('/');
            var day = parts[0];
            var month = parts[1];
            var year = parts[2];
            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            var monthName = monthNames[parseInt(month) - 1];
            var formattedDate = day + '-' + monthName + '-' + year;
            return formattedDate
        }
        function PrintValidation() {
            var isValid = true;
            var message = "Some Values Required";
            if ($('#txtFromDate').val() == '' || $('#txtFromDate').val() == null) {
                ValidationColorChangeNew("txtFromDate", "divFromDate", "From Date Required", false);
                isValid = false;
            }
            if ($('#txtToDate').val() == '' || $('#txtToDate').val() == null) {
                ValidationColorChangeNew("txtToDate", "divToDate", "To Date Required", false);
                isValid = false;
            }

            if (isValid == false) {
                ShowMessage(message);

            }
            return isValid;
        }
        function PrintStockBalance() {
            if (PrintValidation() == true) {
                var FromDate = $('#txtFromDate').val();
                FromDate = DateConversionToYYYYMMDD(FromDate);
                var ToDate = $('#txtToDate').val();
                ToDate = DateConversionToYYYYMMDD(ToDate);
                var ItemCode = $('#ddlItemCode').val();
                var ItemGroup = $('#ddlItemGroup').val();
                var Warehouse = $('#ddlWarehouse').val();
                var ReportType = $('#ddlReportType').val();
          /*      printPage(FromDate, ToDate, ItemCode, ItemGroup, Warehouse, ReportType);*/
                GetprintPage(FromDate, ToDate, ItemCode, ItemGroup, Warehouse, ReportType);
            }
        }
        function printPage(FromDate, ToDate, ItemCode, ItemGroup, Warehouse, ReportType) {
            var dynamicURL = 'http://172.16.1.41:8001/web/webform1.aspx?id1=6&id2=FROMDATE|TODATE|ITEMCODE|ITEMGROUP|WHS|BIOXIN&id3=TYPE'.replace('FROMDATE', FromDate).replace('TODATE', ToDate).replace('ITEMCODE', ItemCode).replace('ITEMGROUP', ItemGroup).replace('WHS', Warehouse).replace('TYPE', ReportType);
            window.open(dynamicURL, '_blank');
        }
        function GetprintPage(FromDate, ToDate, ItemCode, ItemGroup, Warehouse, ReportType) {
            var urlpath = '@Url.Action("GetprintPage", "SalesOrderNew")';
            $.ajax({
                url: urlpath,
                type: "Get",
                data: {  },
                async: false,
                success: function (data) {
                    var dynamicURL = data.RPTPort + 'web/webform1.aspx?id1=6&id2=FROMDATE|TODATE|ITEMCODE|ITEMGROUP|WHS|BIOXIN&id3=TYPE&uid=USERID'.replace('FROMDATE', FromDate).replace('TODATE', ToDate).replace('ITEMCODE', ItemCode).replace('ITEMGROUP', ItemGroup).replace('WHS', Warehouse).replace('TYPE', ReportType).replace('BIOXIN', data.Database).replace('USERID', data.UserId);
                    window.open(dynamicURL, '_blank');
                }
                //,
                //complete: function (data) {

                //}
            });
        }
    </script>
}